@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Dosis:wght@500;600;800&family=Mukta:wght@400;700&family=Open+Sans:wght@400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Dancing Script', cursive;
    font-family: 'Dosis', sans-serif;
    font-family: 'Mukta', sans-serif;
    font-family: 'Open Sans', sans-serif;
}
